# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Generated secrets / client configs
**/generated/
*.conf

# OS / editor
.DS_Store
.idea/
.vscode/
*.swp
